body {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: rgb(237, 240, 244);
  line-height: 1.28;
}

div {
  margin: 0;
  padding: 0;

}

a {
  color: white;
}

.post-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  color: rgb(255, 198, 0);
  font-size: 0.9rem;
}

img {
  padding-top: 10px;
  width: 150px;
  height: 150px;
}

.bold {
  text-transform: full-width;
  text-shadow: yellow;
}

.posts {
 width: 300px;
 height: 300px;
 border: 2px solid #061328;
 margin: 0;
 padding: 0;

}
a {
  text-decoration: none;
}
i  {
  color: rgb(255, 198, 0);

}
a:hover {
  cursor: pointer;
}

@media only screen and (max-width : 840px) {
  img {
    height: 75px;
    width: 75px;
  }
  body {
    font-size: 12px;
  }
  .posts {
    width: 200px;
    height: 200px;

  }
}
