.App {
  text-align: center;
  padding: 0;
  margin: 0;
  transition: 0.3s;

}

body {
  color:  #ffffff;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  background-color: rgba(77, 96, 122, 0.8);
  min-height: 100%;
}

h2 {
    font-family: "Josefin Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media (max-width: 320px) {
  .topnav {
    width: 320px;
  }
}
