

.flex-container {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}

.flex-container img {
  width: 200px;
  height: 200px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

h2 {
  text-decoration: underline;
}
p {
  font-size: 14px;
  color: white;
}
