.parallax1 {
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.parallax2 {
  background-image: url("https://scontent.fybz1-1.fna.fbcdn.net/v/t1.0-9/1915118_629861350665_3657598_n.jpg?oh=256572c279a8dfa0c71b6e3bbff31854&oe=59E68892");
  height: 70rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 550px;
  text-align: center;
}

.flex-container img {
  width: 200px;
  height: 200px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

h2 {
  text-decoration: underline;
}
p {
  font-size: 14px;
  color: white;
}
